*{
    margin:  0;
    padding: 0;
    box-sizing: 0;
}
.container-me{
    height: 100%;
    height: 100vh;
}
.me{
    height: 100%;
    height: 100vh; 
}
h5, p{
    font-weight: 900;
}
.hidden{
    display: none;
}
